@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;
}

.nav_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}

.nav_header > a {
  margin-right: 90px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav_header > a > span {
  color: black;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 50px;
}

.header_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

li {
  list-style-type: none;
}

.hero {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background: #2f303a;
}

.hero_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.main_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  height: 120px;
  width: 700px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero_button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

.peculiarities {
  text-align: left;
  margin-top: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #ffffff;
}

.peculiarities_list {
  display: flex;
  flex-wrap: nowrap;
}

.peculiarities_item {
  width: 270px;
  height: 100px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  padding: 0;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.our_work {
  text-align: center;
  margin-top: 94px;
}

.our_work_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
  margin-top: 50px;
  justify-content: center;
}

.our_work > h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.our_work_item {
  margin-right: 30px;
  width: 370px;
  height: 294px;
}

.our_team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 648px;
  background: #f5f4fa;
}

.our_team_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.our_team_item {
  width: 270px;
  height: 368px;
  margin-right: 30px;
  text-align: center;
  background: #ffffff;
  /* material shadow v1 */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.our_team_item > p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.our_team_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 50px;
}

footer {
  height: 252px;
  display: flex;
  background: #2f303a;
  padding-left: 215px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer_logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
  margin-top: 60px;
}

.footer_logo > span {
  color: white;
}

.footer_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.footer_link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
